<div class="row">
  <div class="span6 offset2">
    <%= form_for(@content, html: { class: "form-horizontal" } ) do |f| %>
     <fieldset>

      <%= render 'shared/content_error_msg' %>
	  
	  <div class="control-group">
      <%= f.label :name, :class => "control-label"  %>
      <div class="controls">
      <%= f.text_field :name %>
      </div>	  	
	  </div>
      
	  <div class="control-group">
      <%= f.label :description, :class => "control-label"  %>
      <div class="controls">
      <%= f.text_field :description %>
      </div>	  	
	  </div>
	  
	  <div class="control-group">
      	<%= f.label :chinese, :class => "control-label" %>
      	<div class="controls">
      	  <%= f.check_box :chinese %>
	  	</div>	  	
	  </div>
	  
      <div class="control-group">
      	<%= f.label :schinese, :class => "control-label" %>
      	<div class="controls">
      	  <%= f.check_box :schinese %>
	  	</div>
	  </div>	
	  
	  <div class="control-group">	
	  	<%= f.label :english, :class => "control-label" %>
      	<div class="controls">
      	  <%= f.check_box :english %>
	  	</div>
      </div>
      
      <div class="control-group">
      <%= f.label :avatar, "Upload File" , :class => "control-label" %>
      <div class="controls">
      <%= f.file_field :avatar %>
      </div>
	  </div>
	  
	  <div class="form-actions">
      <%= f.submit "Create Content", class: "btn btn-large btn-primary" %>
      </div>
     </fieldset>
    <% end %>
  </div>
</div>