<h1>Listing contents</h1>

<table class="table  table-striped table-hover">
  <tr>
  	<th></th>
    <th>Name</th>
    <th>Size</th>
    <th>Last Update</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= link_to image_tag(content.avatar.url(:thumb),:size => '51x51' ), content_path(content) %></td>
    <td><%= content.name %></td>
    <td> <%= number_to_human_size(content.avatar.size) %></td>
    <td> <%= Time.at(content.avatar.updated_at) %></td>
    <td><%= link_to 'Show', content_path(content) %></td>
    <td><%= link_to 'Edit', edit_content_path(content) %></td>
    <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content', new_content_path %>
