<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if current_user?(@user) %>
    <section>
        <%= render 'shared/stats' %>
    </section>
    <% end %>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<% if current_user.admin? || current_user?(@user) %>
  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>
<% end %>

<div class="paper">
<br>
<h3 class="center">Your personal micro-blog for Bible Verse sharing is comming soon!</h3>
<br>
</div>

<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> 
<% if current_user.admin? %>
  | <%= link_to "Manage Contents", contents_path %>
  | <%= link_to "Manage Verses", verses_path %>
  | <%= link_to "Manage Pads", pads_path %>
<% end %>