<% provide(:title, 'All Snippets') %>
<h1>Listing Pads</h1>

<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Snippet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pads.each do |pad| %>
  <tr>
    <td><%= pad.name %></td>
    <td><%= pad.snippet %></td>
    <td><%= link_to 'Show', pad %></td>
    <td><%= link_to 'Edit', edit_pad_path(pad) %></td>
    <td><%= link_to 'Destroy', pad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pad', new_pad_path %>
