<h1>Listing verses</h1>

<%= will_paginate %>

<table class="table table-striped table-hover">
  <tr>
    <th>Verse</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @verses.each do |verse| %>
  <tr>
    <td><%= verse.verse %></td>
    <td><%= verse.updated_at %></td>
    <td><%= link_to 'Show', verse %></td>
    <td><%= link_to 'Edit', edit_verse_path(verse) %></td>
    <td><%= link_to 'Destroy', verse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br>

<%= link_to 'New Verse', new_verse_path %>
