<% provide(:title, 'Chinese') %>
<div class="center hero-unit">
  <div class="color-skyblue">
  	<h1>Faith of Jesus Christ</h1>
  </div>
  <h2>
    This is the home page for downloading Bible of His Faith.
  </h2>
  
  <div class="paper">
  <br>
  <h3>Today's Verse</h3>
  <p>
  <%= @verse.english.html_safe %>
  </p>
  <br>
  </div>
  
  <table class="table table-striped table-hover">
  	<tr>
  		<th>Download</th>
    	<th>Name</th>
    	<th>Size</th>
    	<th>Last Update</th>
  	</tr>

	<% @contents.each do |content| %>
		<% if content.english? %>
  			<tr>
    			<td><%= link_to image_tag(content.avatar.url(:thumb), size: "39x39", :class => "img-polaroid"), content.avatar.url %></td>
    			<td><%= link_to content.name, content.avatar.url %></td>
    			<td><%= number_to_human_size(content.avatar.size) %></td>
    			<td><%= Time.at(content.avatar.updated_at) %></td>
  			</tr>
  		<% end %>
	<% end %>
  </table>
</div>


