<% provide(:title, 'Simplified Chinese') %>
<div class="center hero-unit">
  <div class="color-bloodred">
  	<h1>耶稣基督的信实</h1>
  </div>
  <h2>
    This is the home page for downloading Bible of His Faith.
  </h2>
  
  <table class="table table-striped table-hover">
  	<tr>
  		<th></th>
    	<th>Name</th>
    	<th>Size</th>
    	<th>Last Update</th>
  	</tr>

	<% @contents.each do |content| %>
		<% if content.schinese? %>
  			<tr>
    			<td><%= link_to image_tag(content.avatar.url(:thumb), size: "51x51"), content.avatar.url %></td>
    			<td><%= link_to content.name, content.avatar.url %></td>
    			<td><%= number_to_human_size(content.avatar.size) %></td>
    			<td><%= Time.at(content.avatar.updated_at) %></td>
  			</tr>
  		<% end %>
	<% end %>
  </table>
</div>

<%= link_to image_tag("BibleReader-Icon57.png", alt: "Bible Reader app"), 'https://itunes.apple.com/us/app/bible-reader/id537474288?mt=8' %>
<%= link_to image_tag("twitter.jpeg", :size => "65x65", alt: "Follow AmenIsFaith"), 'https://twitter.com/AmenIsFaith' %>
<%= link_to image_tag("blog.jpeg", :size => "65x65", alt: "Bible Verse Sharing Blog"), 'http://faithofjesuschrist.com' %>

